
 body {
    font-family: Arial, sans-serif;
     /* background: linear-gradient(90deg, #3dded1, #f545cf); */
      background: linear-gradient(135deg, #513ff7, #ab029a, #3e3eb9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
h3 {
    color: #da175c;
    margin-bottom: 15px;
}
input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color:white;
    border: 1px solid white;
    border-radius: 8px;
}

input[type="submit"] {
      /* background: linear-gradient(90deg, #3dded1, #f545cf); */
       background: linear-gradient(135deg, #4c39fa, #ab029a, #3737a4);
    color: white;
    width: 55%;
   
    cursor: pointer;
}
H2{
  color: #da175c;   
}