
 body {
    font-family: Arial, sans-serif;
    /* background-color: #6E1A37; */
     /* background: linear-gradient(90deg, #3dded1, #f545cf); */
     background: linear-gradient(135deg, #5f4fef, #ab029a, #4444c7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


form {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
h3 {
    /* color: linear-gradient(135deg, #423a88, #ef56e0, #2f2fc4); */
    color: #da175c;
    /* background: linear-gradient(135deg, #2a217b, #494198, #5252e8); */
    margin-bottom: 15px;
}


input {
    width: 75%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    background-color:#fdfdfd;
}


input[type="submit"] {
    /* background-color: #6E1A37; */
     /* background: linear-gradient(90deg, #00ffea, #ff00c8); */
       /* background: linear-gradient(135deg, #2a217b, #494198, #5252e8); */
        background: linear-gradient(135deg, #4937ee, #dc039b, #1d1362);
    color: white;

    cursor: pointer;
    width: 45%;
}
.links {
    margin-top: 15px;
    text-align: center;
}


.links p {
    color: white;
    font-size: 14px;
    margin: 5px 0;
}


.links a {
    color: #f3cbd9;
   
}
